$border-radius-default: 5px;

// colors
$color-body-text: #000;

$color-extra-light-gray: #f6f6f6;
$color-light-gray: #C1C1C1;
$color-dark-gray: #2b3035;

$color-purple: #515BA4;
$color-green: #0F7D21; // used in the header bar and menu links

$color-logo-blue: #005ea0;
$color-logo-green: #52c62a;

// $color-green: #357A2D; // vlad's green


// fonts
$font-family-noto-sans: 'Noto Sans', 'sans-serif';
$font-family-open-sans: 'Open Sans', 'sans-serif';