.elementor-element .elementor-button {
	background-color: $color-purple;
	border: none;
	border-radius: $border-radius-default;
	color: #fff;
	cursor: pointer;
	font-family: $font-family-noto-sans;
	font-weight: 500;

	&:hover {
		background-color: #000;
		color: #fff;
		text-decoration: none;
	}
}

.elementor-button.elementor-size-xs {
	font-size: 14px;
	line-height: 18px;
	padding: 6px 16px;
}

.elementor-button.elementor-size-sm {
	font-size: 16px;
	line-height: 20px;
	padding: 8px 20px;
}

.elementor-button.elementor-size-md {
	font-size: 18px;
	line-height: 22px;
	padding: 10px 24px;
}

.elementor-button.elementor-size-lg {
	font-size: 20px;
	line-height: 24px;
	padding: 12px 28px;
}

.elementor-button.elementor-size-xl {
	font-size: 22px;
	line-height: 28px;
	padding: 14px 32px;
}