.elementor-widget-heading {
	.elementor-widget-container {
		.elementor-heading-title[class*="elementor-size-"] {
			> a {
				color: $color-purple;
			}
		}
	}
}

.elementor-widget-text-editor {
	*:last-child {
		margin-bottom: 0;
	}

	a {
		text-decoration: underline;
	}
}
